html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Concert+One|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.icon {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --text-color: white;
  --text-color-light: #ccc;
  --border-color: #fda185;
  --bg-color: #fffbee;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: black;
  background: var(--bg-color);
}

header {
  background-color: #ff5d5d;
  border-bottom: 1px solid var(--border-color);
  height: 80px;
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 70em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

.column {
  border-right: 1px #fda185;
  border-style: solid;
  column-count: 7;
  column-gap: 0;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.daycol {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  border-left: 1px #fda185;
  border-style: solid;
}

span {
  position: relative;
}

span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

span:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

/* Calendar */

.text {
  color: white;
  letter-spacing: 2px;
}

.changedate {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 15px 15px;
}

.changedate:hover {
  cursor: pointer;
}

.calendar {
  display: inline-block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 25px 25px 0px 0px;
}

.calendar .header {
  background-color: #f97f69;
  border-bottom: 1px solid var(--border-color);
  font-family: "Montserrat", sans-serif;
  font-size: 130%;
  font-weight: 700;
  padding: 1em 0;
  border-radius: 25px 25px 0px 0px;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  font-family: "Montserrat", sans-serif;
  background-color: #fda185;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row {
  border-bottom: 1.1px dotted var(--border-color);
}

/* .calendar .body {
  overflow-y: auto;
  max-height: 10em;
} */

.timecol {
  padding-top: 3.7em;
}

.timecell {
  border-left: 1px #fda185;
  border-style: solid;
  position: relative;
  border-bottom: 1px dotted var(--border-color);
  height: 2em;
}

.timecell:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.timecell {
  border-left: 1px #fda185;
  border-style: solid;
  position: relative;
  border-bottom: 1px dotted var(--border-color);
  height: 2em;
}

.timecol .time {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: 58px;
  flex-direction: column;
  color: #ff5d5d;
  font-size: 10px;
  padding-right: 10px;
  padding-top: 30.4px;
}

.calendarweek {
  display: flex;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  max-height: 100%;
  width: 80em;
}

.calendar .body .weekcell {
  position: relative;
  height: 39px;
  border-right: 1px solid var(--border-color);

  cursor: pointer;
}

.calendar .body .weekcell:hover {
  background-color: #ffeef0;
  opacity: 50%;
}
