html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Concert+One|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --text-color: white;
  --text-color-light: white;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: "Toriga Medium", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

header {
  display: block;
  margin-right: 20em;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 70em;
}

/* GRID */

.monthRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.monthRow-middle {
  align-items: center;
}

.monthCol {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.monthCol-start {
  justify-content: flex-start;
  text-align: left;
}

.monthCol-center {
  justify-content: center;
  text-align: center;
}

.monthCol-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */
.text {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.monthCalendar {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 20px;
  width: 80em;
  background: var(--neutral-color);
  border-radius: 25px 25px 0px 0px;
  border: 1px solid var(--border-color);
}

.monthCalendar .header {
  background-color: #f97f69;
  border-radius: 25px 25px 0px 0px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 130%;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
}

.monthCalendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.monthCalendar .header .icon:first-of-type {
  margin-left: 1em;
}

.monthCalendar .header .icon:last-of-type {
  margin-right: 1em;
}

.monthCalendar .days {
  background-color: #fda185;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 70%;
  letter-spacing: 2px;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.monthCalendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
}

.monthCalendar .body .selected {
  border-left: 10px solid transparent;
  border-image-slice: 1;
}

.monthCalendar .body .monthRow {
  border-bottom: 1px solid var(--border-color);
}

.monthCalendar .body .monthRow:last-child {
  border-bottom: none;
}

.monthCalendar .body .cell:last-child {
  border-right: none;
}

.monthCalendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.monthCalendar .body .cell:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.monthCalendar .body .disabled {
  background-color: rgb(248, 248, 248);
  color: var(--text-color-light);
  filter: opacity(50%);
  pointer-events: none;
}

.monthCalendar.body .enabled {
  color: #f97f69;
}

.monthCalendar .body .selected {
  background-color: #ffeef0;
}

.monthCalendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.monthCalendar .body .monthCol {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.number {
  color: #f97f69;
  font-family: "Montserrat", sans-serif;
}
