html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Concert+One|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.loginBody {
  background-image: linear-gradient(to top right, #ff5d5d, #ffe88a);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.loginForm {
  background-color: rgb(255, 255, 255, 0.3);
  background-image: url("/usericon.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  height: 45px;
  margin: 10px auto;
  text-align: center;
  width: 280px;
}

.loginForm::placeholder {
  color: #ff5d5d;
}

.pandayLogo {
  height: 100px;
  margin-top: 15px;
}

.loginTitle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.passForm {
  background-color: rgb(255, 255, 255, 0.3);
  background-image: url("/passicon.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  height: 45px;
  margin: 10px auto;
  text-align: center;
  width: 280px;
}

.passForm::placeholder {
  color: #ff5d5d;
}

.loginSubmit {
  background-color: #002e63;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 45px;
  letter-spacing: 2px;
  margin: 10px auto;
  opacity: 0.77;
  padding: 0;
  text-align: center;
  transition: 0.3s;
  width: 280px;
}

.loginSubmit:hover {
  background-color: #002e63;
  cursor: pointer;
  opacity: 1;
}

.name {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 48px;
  margin-top: 50px;
}

.toSignup {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-top: 110px;
}

.createButton {
  background-color: rgb(255, 255, 255, 0);
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  border-width: 1.3px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  height: 25px;
  letter-spacing: 2px;
  margin-top: 10px;
  transition: 0.3s;
  width: 150px;
}

.createButton:hover {
  background-color: #f97f69;
  cursor: pointer;
}
