@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(255, 247, 247);
  margin: 0;
  pointer-events: all;
}

#page-mask {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff5d5d;
  height: 70px;
  z-index: 5;
  pointer-events: all;
}

.ul {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  pointer-events: all;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  border: none;
  margin-right: 10px;
}

.searchBar {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 25px;
}

.searchBox::placeholder {
  color: #f97f69;
  opacity: 0.5;
  letter-spacing: 2px;
}

.officialName {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  margin-top: 8px;
  padding-left: 15px;
}

.pandayName {
  display: flex;
  flex-direction: row;
}

.categories {
  position: relative;
  list-style: none;
  margin-right: 10px;
  margin-top: 5px;
}

.cat-container {
  display: flex;
  flex-direction: column;
}

.categories-toggle {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #f97f69;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 5px;
}

.categories-toggle:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.categories-dropdown {
  background: #fff;
  border-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.event-details-dropdown {
  background: #fff;
  border-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 10px;
}

.caticon {
  height: 50px;
}

.catwork {
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 37px;
}

.catschool {
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 68px;
}

.catapp {
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 10px;
}

.catsocial {
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 40px;
}

.name-toprow {
  display: flex;
  flex-direction: row;
}

.cat-toprow {
  display: flex;
  flex-direction: row;
}

.category-work {
  background-color: #ff5d5d;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.category-school {
  background-color: #f97f69;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.category-social {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 9px;
  background-color: #ffe88a;
  border-style: none;
  border-radius: 20px;
}

.category-appointment {
  background-color: #fbbe84;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.logout-button {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.logout-button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.logout-button:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.add-to-calendar,
.change-my-pass,
.change-my-email {
  background-color: #ff5d5d;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  text-align: center;
}

.add-to-calendar:hover,
.change-my-pass:hover,
.change-my-email:hover {
  cursor: pointer;
  background-color: #ff5d5d;
  transition: opacity 0.3s;
  opacity: 1;
}

.event-date,
.event-time,
.event-title,
.username,
.email,
.password {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-hours,
.event-minutes {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  width: 60px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-notes {
  font-family: "Montserrat", sans-serif;
  resize: none;
  color: #777;
  border-radius: 25px;
  padding: 10px 5px 10px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.search-results {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #777;
  border: none;
  border-radius: 25px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 20px;
  width: 310px;
}

.results-details {
  padding-bottom: 5px;
}

.results-details:hover {
  cursor: pointer;
}

.toggleButton {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  /* display: inline-block; */
  font-size: 15px;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 25px;
}

.toggleButton::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.toggleButton:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.headerLogo {
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
}

/* --------------- MODAL ----------------*/

hr {
  background-color: #fda185;
  border: none;
  height: 3px;
  margin-left: 0;
  opacity: 0.3;
  width: 100%;
}

.settings-modal {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  padding: 20px;
  width: 50%;
  height: 75%;
  right: 25%;
  top: 100px;
}

.settings-header,
.event-details-header {
  display: flex;
  flex-direction: row;
  color: #ff5d5d;
  font-size: 25px;
  margin: 10px;
  margin-left: 0px;
}

.close {
  color: #ff5d5d;
  cursor: pointer;
  margin-left: 420px;
}

.settings-title {
  color: #fda185;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 10px;
  margin-left: 0px;
  margin-top: 40px;
}

.display-password-change,
.display-email-change {
  overflow: hidden;
}

.set-info,
.event-details-info {
  color: #fda185;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-h3,
.event-details-subheader {
  position: relative;
  background: none;
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 0;
  margin-top: 30px;
  border-radius: 25px;
}

.small-header {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: #ff5d5d;
  padding: 5px;
  font-size: 20px;
  margin-top: 15px;
}

.settings-gear {
  pointer-events: all;
  cursor: pointer;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.theme-button {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.theme-button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.theme-button:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.settings-container {
  display: flex;
  flex-direction: row;
}

.buttons-flex {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 0;
}

.change-settings-button {
  background-color: white;
  border: 1px solid #ff5d5d;
  border-radius: 10px;
  color: #ff5d5d;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  height: 30px;
  pointer-events: all;
  margin-top: 25px;
  margin-left: 148px;
  text-align: center;
  width: 80px;
}

.change-settings-button:hover {
  color: #f97f69;
}

.twitter-connect-button {
  background-color: #ff5d5d;
  background-image: url("/twittericon.png");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #ff5d5d;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  height: 30px;
  margin-top: 35px;
  width: 200px;
}

.facebook-connect-button {
  background-color: #ff5d5d;
  background-image: url("/facebookicon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  border: 1px solid #ff5d5d;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  height: 30px;
  margin-top: 40px;
}

.delete-account-button {
  background-color: white;
  background-image: url("/deleteicon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  color: white;
  cursor: pointer;
  height: 30px;
  margin-top: 40px;
  margin-left: 250px;
  width: 30px;
}

.event-details-modal {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 35%;
  height: 50%;
  z-index: 3;
  padding: 20px;
  right: 35%;
}

.close-event-details {
  color: rgb(255, 93, 93);
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
