@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(255, 247, 247);
  margin: 0;
}

.navbar {
  justify-content: space-between;
  background-color: #ff5d5d;
}

.ul {
  display: flex;
  flex-direction: row;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  border: none;
}

.searchBar {
  background-image: url("/public/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 25px;
  padding-left: 40px;
}

.officialName {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  padding-left: 15px;
}

.categories {
  position: relative;
  list-style: none;
}

.categories-toggle {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  color: #f97f69;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  padding-bottom: 4px;
  width: 50px;
  font-size: 32px;
}

.categories-toggle:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.categories-dropdown {
  background: #fff;
  border: none;
  border-radius: 25px;
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.event-details-dropdown {
  background: #fff;
  border: none;
  border-radius: 25px;
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 10px;
}

.category-pics {
  height: 100px;
  margin: 9px;
}

.logout-button {
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
  color: #f97f69;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 15px;
  margin: 4px;
  cursor: pointer;
  border-radius: 25px;
}

.logout-button:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.add-to-calendar {
  background-color: #fda185;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.event-date,
.event-time,
.event-title {
  color: #777;
  border-radius: 25px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-hours,
.event-minutes {
  color: #777;
  border-radius: 25px;
  width: 60px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-notes {
  resize: none;
  color: #777;
  border-radius: 25px;
  padding: 10px 5px 10px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}
