@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(255, 247, 247);
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ff5d5d;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  border: none;
}

.searchBar {
  background-image: url("/public/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 25px;
  padding-left: 40px;
}

.officialName {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  padding-left: 15px;
}

.categories {
  position: relative;
  list-style: none;
}

.categories-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 32px;
}

.categories-dropdown {
  background: #fff;
  border: 1px solid gold;
  position: absolute;
  top: 50px;
  left: 0;
  overflow: hidden;
  z-index: 3;
  transition: all linear 500ms;
}
