@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(255, 247, 247);
  margin: 0;
}

.navbar {
  justify-content: space-between;
  background-color: #ff5d5d;
  height: 70px;
}

.ul {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 10px;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  border: none;
}

.searchBar {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 25px;
}

.searchBox::placeholder {
  color: #f97f69;
  opacity: 0.5;
  letter-spacing: 2px;
}

.officialName {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  padding-left: 15px;
}

.categories {
  position: relative;
  list-style: none;
}

.categories-toggle {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  color: #f97f69;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
  font-size: 32px;
}

.categories-toggle:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.categories-dropdown {
  background: #fff;
  border: none;
  border-radius: 25px;
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.event-details-dropdown {
  background: #fff;
  border: none;
  border-radius: 25px;
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 10px;
}

.category-pics {
  height: 100px;
  margin: 9px;
}

.logout-button {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.logout-button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.logout-button:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.add-to-calendar {
  background-color: #fda185;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}

.event-date,
.event-time,
.event-title {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-hours,
.event-minutes {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  width: 60px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-notes {
  font-family: "Montserrat", sans-serif;
  resize: none;
  color: #777;
  border-radius: 25px;
  padding: 10px 5px 10px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.search-results {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #777;
  border: none;
  border-radius: 25px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 20px;
  width: 310px;
}

.results-details {
  padding-bottom: 5px;
}

.toggleButton {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  /* display: inline-block; */
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.toggleButton::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.toggleButton:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.headerLogo {
  height: 50px;
}
