@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: rgb(255, 247, 247);
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff5d5d;
  height: 70px;
}

.ul {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 5px;
  border: none;
}

.searchBar {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 25px;
}

.searchBox::placeholder {
  color: #f97f69;
  opacity: 0.5;
  letter-spacing: 2px;
}

.officialName {
  color: white;
  font-family: "Concert One", sans-serif;
  font-size: 50px;
  padding-left: 15px;
}

.categories {
  position: relative;
  list-style: none;
}

.categories-toggle {
  align-items: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  color: #f97f69;
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  font-size: 32px;
}

.categories-toggle:hover {
  background-color: #ffeef0;
  opacity: 50%;
}

.categories-dropdown {
  background: #fff;
  border: none;
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.event-details-dropdown {
  background: #fff;
  border: none;
  /* border-radius: 25px; */
  position: absolute;
  top: 55px;
  left: 5px;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 10px;
}

.caticon {
  height: 50px;
}

.catname {
  color: #ff5d5d;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}

.name-toprow {
  display: flex;
  flex-direction: row;
}

.cat-toprow {
  display: flex;
  flex-direction: row;
}

.category-work {
  background-color: #ff5d5d;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.category-school {
  background-color: #fda185;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.category-social {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 9px;
  background-color: #ffe88a;
  border-style: none;
  border-radius: 20px;
}

.category-appointment {
  background-color: #fbbe84;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 9px;
}

.logout-button {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 25px;
}

.logout-button::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.logout-button:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.add-to-calendar,
.change-my-pass,
.change-my-email {
  background-color: #ff5d5d;
  opacity: 0.8;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 10px;
  text-align: center;
}

.add-to-calendar:hover,
.change-my-pass:hover,
.change-my-email:hover {
  cursor: pointer;
  background-color: #ff5d5d;
  transition: opacity 0.3s;
  opacity: 1;
}

.event-date,
.event-time,
.event-title,
.username,
.email,
.password {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-hours,
.event-minutes {
  font-family: "Montserrat", sans-serif;
  color: #777;
  border-radius: 25px;
  width: 60px;
  padding: 5px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.event-notes {
  font-family: "Montserrat", sans-serif;
  resize: none;
  color: #777;
  border-radius: 25px;
  padding: 10px 5px 10px 10px;
  border: solid 1px #fda185;
  margin: 5px;
}

.search-results {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #777;
  border: none;
  border-radius: 25px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  transition: all linear 50ms;
  padding: 20px;
  width: 310px;
}

.results-details {
  padding-bottom: 5px;
}

.toggleButton {
  position: relative;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  /* display: inline-block; */
  font-size: 15px;
  margin-top: 15px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 25px;
}

.toggleButton::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.toggleButton:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.headerLogo {
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
}

.settings-modal {
  font-family: "Montserrat", sans-serif;
  background: white;
  color: #777;
  border: dotted 1px #777;
  border-radius: 25px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  padding: 20px;
  width: 75%;
  height: 75%;
  top: 100px;
  left: 12.5%;
  right: 12.5%;
}

.settings-header {
  font-size: 30px;
  margin: 10px;
}

/* .settings-display {
  display: flex;
} */

.display-password-change,
.display-email-change {
  overflow: hidden;
}

.settings-h3 {
  position: relative;
  background: none;
  color: #777;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px;
}

.settings-h3::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ffe88a;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.settings-h3:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

.small-header {
  font-family: Arial, sans-serif;
  color: #777;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.settings-gear {
  height: 50px;
  cursor: pointer;
}
