html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Concert+One|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.signupBody {
  background-image: linear-gradient(to top right, #6078ea, #17ead9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.signupForm {
  background-color: rgb(255, 255, 255, 0.3);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  height: 45px;
  margin: 0px auto 10px;
  text-align: center;
  width: 280px;
}

.signupForm::placeholder {
  color: #6078ea;
}

.signupTitle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.signupReq {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.signupSubmit {
  background-color: #fda185;
  border: none;
  border-radius: 100px;
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 45px;
  letter-spacing: 2px;
  margin: 50px auto;
  opacity: 0.7;
  padding: 0;
  text-align: center;
  transition: 0.3s;
  width: 280px;
}

.signupSubmit:hover {
  opacity: 1;
}

.passFormSignup {
  background-color: rgb(255, 255, 255, 0.3);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  height: 45px;
  margin: 0px auto 10px;
  text-align: center;
  width: 280px;
}

.passFormSignup::placeholder {
  color: #6078ea;
}

.emailForm {
  background-color: rgb(255, 255, 255, 0.3);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  border-color: white;
  border-radius: 100px;
  border-style: solid;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  height: 45px;
  margin: 0px auto 10px;
  text-align: center;
  width: 280px;
}

.emailForm::placeholder {
  color: #6078ea;
}
